body {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-600 {
  font-weight: 600;
}

div {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
}